<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!--
	You can use following MDC expressions when org.sculptor.framework.util.MdcFilter is in web.xml, user is extracted from SpringSecurityContext
		%mdc{user}
		%mdc{remoteAddress}
		%mdc{sessionId}
		%mdc{requestId} - internal unique request identifier (nanoTime)
		%mdc{serverName}
		%mdc{url}
	-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) - [%-15.15thread] %cyan(%-40.40logger{39}) : %msg%n</pattern>
		</encoder>
		<withJansi>true</withJansi>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.sculptor.dddsample" level="DEBUG" />

	<!-- Spring security framework -->
	<!--
	<logger name="org.springframework.security" level="DEBUG" />
	-->

	<!-- Spring framework -->
	<!--
	<logger name="org.springframework" level="DEBUG" />
	 -->

	<!-- Hibernate SQL statements -->
	<logger name="org.hibernate.SQL" level="DEBUG" />

	<!-- Binding SQL parameters -->
	<!--
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="ALL" />
	<logger name="org.hibernate.type.EnumType" level="ALL" />
	-->

	<!-- Binding and extracting SQL parameters -->
	<!--
	<logger name="org.hibernate.type" level="ALL" />
	-->

</configuration>
